.footer {
    /* font-family: "Anton SC", sans-serif;
  font-weight: 300;
  font-style: normal; */
    background-image: url("/sparkupsummit/images/FOOTER.png");
    /* background-image: url('../public/assets/image.png') repeat; */
}